.project-browser-grid {
  grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
  column-gap: 8px;
  row-gap: 8px;
}

.project-file-browser .project-folder-card,
.project-file-browser .project-file-card {
  min-height: 100px;
  gap: 9px;
  padding: 8px 6px px;
}

.project-folder-card-icon-wrap,
.project-file-card-icon-wrap {
  height: 50px;
  padding-top: 0px;
}

.project-file-browser .project-file-card-title,
.project-folder-card-name {
  font-size: 10.5px;
  line-height: 1.5;
}

.project-folder-card-meta,
.project-file-browser .project-file-card-meta {
  margin-top: -5px;
}
